
@font-face {
  font-family: 'Inter-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(../font/Inter-Regular_1.otf) format(opentype);
}

		
@font-face {
  font-family: 'Inter-Light';
  font-style: normal;
  font-weight: 300;
  src: url(../font/Inter-Light_1.otf) format(opentype);
}

		
@font-face {
  font-family: 'Inter-Bold';
  font-style: normal;
  font-weight: 700;
  src: url(../font/Inter-Bold_1.otf) format(opentype);
}

		
@font-face {
  font-family: 'Inter-Medium';
  font-style: normal;
  font-weight: 500;
  src: url(../font/Inter-Medium_1.otf) format(opentype);
}

		
@font-face {
  font-family: 'Inter-Semi Bold';
  font-style: normal;
  font-weight: 600;
  src: url(../font/Inter-SemiBold_1.otf) format(opentype);
}

		